texts_source/Outline.lyx~
profile.html
profile.json
texts_source/projekt_vzor.lyx~
texts_source/#projekt_vzor.lyx#
Week_4/ascii_data_1_new.npy
Week_4/ascii_data_1_new.txt
Week_4/ascii_data_1.txt
Week_4/ascii_data_2_new.txt
Week_4/binary_data_1_new.npy
Week_4/test_hdf5.h5
Week_5/filename.pdf
Week_5/filename.png
Week_5/filename.svg
Week_5/filename1.png
Week_5/filename2.pdf
Week_5/filename3.pdf
