texts_source/Outline.lyx~
profile.html
profile.json
texts_source/projekt_vzor.lyx~
texts_source/#projekt_vzor.lyx#
Week_4/ascii_data_1_new.npy
Week_4/ascii_data_1_new.txt
Week_4/ascii_data_1.txt
Week_4/ascii_data_2_new.txt
Week_4/binary_data_1_new.npy
Week_4/test_hdf5.h5
Week_5/filename.pdf
Week_5/filename.png
Week_5/filename.svg
Week_5/filename1.png
Week_5/filename2.pdf
Week_5/filename3.pdf
Week_3/mocniny.csv
Week_3/test.txt
Leftovers/maze_1.csv
Leftovers/maze_2.csv
Leftovers/maze_3.csv
Leftovers/maze_4.csv
Leftovers/maze_5.csv
texts_source/#G_prvocisla.lyx#
texts_source/bludiste.tex
texts_source/fraktaly.lyx~
texts_source/fraktaly.tex
texts_source/pohyb_planet.lyx~
texts_source/pohyb_planet.tex
texts_source/teplota.lyx~
Week_7/mujbalik/mujbalik/__pycache__/__init__.cpython-310.pyc
Week_7/mujbalik/mujbalik/__pycache__/knihovna.cpython-310.pyc
Week_7/mujbalik/mujbalik/__pycache__/literatura.cpython-310.pyc
Week_7/mujbalik/mujbalik/__pycache__/ucty.cpython-310.pyc
Week_7/__pycache__/auto_test.cpython-310-pytest-7.3.0.pyc
Week_7/__pycache__/auto.cpython-310.pyc
Week_7/__pycache__/test_auto_pytest.cpython-310-pytest-7.3.0.pyc
Week_7/mujbalik/__pycache__/test_mujbalik.cpython-310-pytest-7.3.0.pyc
.gitignore
.gitignore
Week_7/mujbalik/.vscode/settings.json
Week_7/mujbalik/docs/build/html/.buildinfo
Week_7/mujbalik/docs/build/html/genindex.html
Week_7/mujbalik/docs/build/html/index.html
Week_7/mujbalik/docs/build/html/modules.html
Week_7/mujbalik/docs/build/html/mujbalik.html
Week_7/mujbalik/docs/build/html/objects.inv
Week_7/mujbalik/docs/build/html/py-modindex.html
Week_7/mujbalik/docs/build/html/search.html
Week_7/mujbalik/docs/build/html/searchindex.js
Week_7/mujbalik/docs/build/html/_sources/index.rst.txt
Week_7/mujbalik/docs/build/html/_sources/modules.rst.txt
Week_7/mujbalik/docs/build/html/_sources/mujbalik.rst.txt
Week_7/mujbalik/docs/build/html/_static/basic.css
Week_7/mujbalik/docs/build/html/_static/doctools.js
Week_7/mujbalik/docs/build/html/_static/documentation_options.js
Week_7/mujbalik/docs/build/html/_static/file.png
Week_7/mujbalik/docs/build/html/_static/language_data.js
Week_7/mujbalik/docs/build/html/_static/minus.png
Week_7/mujbalik/docs/build/html/_static/plus.png
Week_7/mujbalik/docs/build/html/_static/pygments.css
Week_7/mujbalik/docs/build/html/_static/searchtools.js
Week_7/mujbalik/docs/build/html/_static/sphinx_highlight.js
Week_7/mujbalik/docs/build/html/_static/css/badge_only.css
Week_7/mujbalik/docs/build/html/_static/css/theme.css
Week_7/mujbalik/docs/build/html/_static/css/fonts/fontawesome-webfont.eot
Week_7/mujbalik/docs/build/html/_static/css/fonts/fontawesome-webfont.svg
Week_7/mujbalik/docs/build/html/_static/css/fonts/fontawesome-webfont.ttf
Week_7/mujbalik/docs/build/html/_static/css/fonts/fontawesome-webfont.woff
Week_7/mujbalik/docs/build/html/_static/css/fonts/fontawesome-webfont.woff2
Week_7/mujbalik/docs/build/html/_static/css/fonts/lato-bold-italic.woff
Week_7/mujbalik/docs/build/html/_static/css/fonts/lato-bold-italic.woff2
Week_7/mujbalik/docs/build/html/_static/css/fonts/lato-bold.woff
Week_7/mujbalik/docs/build/html/_static/css/fonts/lato-bold.woff2
Week_7/mujbalik/docs/build/html/_static/css/fonts/lato-normal-italic.woff
Week_7/mujbalik/docs/build/html/_static/css/fonts/lato-normal-italic.woff2
Week_7/mujbalik/docs/build/html/_static/css/fonts/lato-normal.woff
Week_7/mujbalik/docs/build/html/_static/css/fonts/lato-normal.woff2
Week_7/mujbalik/docs/build/html/_static/css/fonts/Roboto-Slab-Bold.woff
Week_7/mujbalik/docs/build/html/_static/css/fonts/Roboto-Slab-Bold.woff2
Week_7/mujbalik/docs/build/html/_static/css/fonts/Roboto-Slab-Regular.woff
Week_7/mujbalik/docs/build/html/_static/css/fonts/Roboto-Slab-Regular.woff2
Week_7/mujbalik/docs/build/html/_static/js/badge_only.js
Week_7/mujbalik/docs/build/html/_static/js/html5shiv-printshiv.min.js
Week_7/mujbalik/docs/build/html/_static/js/html5shiv.min.js
Week_7/mujbalik/docs/build/html/_static/js/theme.js
Week_7/mujbalik/docs/build/doctrees/environment.pickle
Week_7/mujbalik/docs/build/doctrees/index.doctree
Week_7/mujbalik/docs/build/doctrees/modules.doctree
Week_7/mujbalik/docs/build/doctrees/mujbalik.doctree
Week_7/auto_test.py
Week_7/auto.py
Week_7/test_auto_pytest.py
Week_7/__pycache__/auto_test.cpython-311-pytest-7.4.4.pyc
Week_7/__pycache__/auto.cpython-311.pyc
Week_7/__pycache__/test_auto_pytest.cpython-311-pytest-7.4.4.pyc
Week_7/mujbalik/__pycache__/test_mujbalik.cpython-311-pytest-7.4.4.pyc
Week_7/mujbalik/mujbalik/__pycache__/__init__.cpython-311.pyc
Week_7/mujbalik/mujbalik/__pycache__/knihovna.cpython-311.pyc
Week_7/mujbalik/mujbalik/__pycache__/literatura.cpython-311.pyc
Week_7/mujbalik/mujbalik/__pycache__/ucty.cpython-311.pyc
Week_10/mujbalik/mujbalik/__pycache__/__init__.cpython-310.pyc
Week_10/mujbalik/mujbalik/__pycache__/__init__.cpython-311.pyc
Week_10/mujbalik/mujbalik/__pycache__/knihovna.cpython-310.pyc
Week_10/mujbalik/mujbalik/__pycache__/knihovna.cpython-311.pyc
Week_10/mujbalik/mujbalik/__pycache__/literatura.cpython-310.pyc
Week_10/mujbalik/mujbalik/__pycache__/literatura.cpython-311.pyc
Week_10/mujbalik/mujbalik/__pycache__/ucty.cpython-310.pyc
Week_10/mujbalik/mujbalik/__pycache__/ucty.cpython-311.pyc
Week_10/mujbalik/__pycache__/test_mujbalik.cpython-310-pytest-7.3.0.pyc
Week_10/mujbalik/__pycache__/test_mujbalik.cpython-311-pytest-7.4.4.pyc
Week_07/filename.pdf
Week_07/filename.png
Week_07/filename.svg
Week_07/filename1.png
Week_07/filename2.pdf
Week_07/filename3.pdf
Week_05/test_data.csv
Week_10/__pycache__/auto_test.cpython-311-pytest-8.1.1.pyc
Week_10/__pycache__/auto.cpython-311.pyc
Week_10/__pycache__/test_auto_pytest.cpython-311-pytest-8.1.1.pyc
Week_10/mujbalik/__pycache__/test_mujbalik.cpython-311-pytest-8.1.1.pyc
Week_10/mujbalik/__pycache__/test_mujbalik.cpython-311-pytest-8.1.1.pyc
Week_10/auto_test.py
Week_10/auto.py
Week_10/test_auto_pytest.py
Week_11/build/lib.linux-x86_64-cpython-312/hello_cython.cpython-312-x86_64-linux-gnu.so
Week_11/build/lib.linux-x86_64-cpython-312/my_dot.cpython-312-x86_64-linux-gnu.so
Week_11/build/temp.linux-x86_64-cpython-312/hello_cython.o
Week_11/build/temp.linux-x86_64-cpython-312/my_dot.o
Week_11/_ipython-input-21-profile
Week_11/code_profile_test.py
Week_11/hello_cython.c
Week_11/hello_cython.cpython-312-x86_64-linux-gnu.so
Week_11/hello_cython.pyx
Week_11/my_dot.c
Week_11/my_dot.cpython-312-x86_64-linux-gnu.so
Week_11/my_dot.pyx
Week_11/setup.py
Week_11/test.py
Week_11/vysledky_cProfile_code_setup.prof
Week_13/build/lib.linux-x86_64-cpython-312/mvc_mylib.cpython-312-x86_64-linux-gnu.so
Week_13/build/lib.linux-x86_64-cpython-312/mvp_cy.cpython-312-x86_64-linux-gnu.so
Week_13/build/temp.linux-x86_64-cpython-312/mvc_mylib.o
Week_13/build/temp.linux-x86_64-cpython-312/mvp_cy.o
