ipykernel
IPython
ipywidgets
ipympl
jupyter
jupyterlab
notebook
nbconvert
matplotlib
numpy
scipy
pandas
seaborn
sympy
h5py
numexpr
numba
cython
setuptools
cffi
mpi4py
line_profiler
snakeviz
scalene
networkx
graphviz
pytest
mypy
sphinx
